# 安卓连接服务器PCF

name = "Potatso ABC Configuration"
author = "Ray He"
description = "The PCF for abc proxy."

[PROFILE.abc]
name = "Abc Profile"
defaultRoute = "DIRECT"
proxy = "abc"
rulesets = [
    "abc"
]

[PROXY.abc]
type = "HTTP"
host = "47.95.112.255"
port = 7777

# （Ruleset）
[RULESET.abc]
name = "Abc Rules"
rules = [
    "DOMAIN-MATCH, enjoy.abchina.com, PROXY"
]
