name = "mytest"
author = "herui"
description = "my test pcf"

# 用户配置（Profile）
[PROFILE.ecitic]
name = "ecitic"
defaultRoute = "DIRECT"
proxy = "ecitic"
rulesets = [
    "ecitic"
]

# 代理（Proxy）
[PROXY.ecitic]
type = "HTTP"
host = "47.95.112.255"
port = 7771

# 规则集（Ruleset）
[RULESET.ecitic]
name = "ecitic rules"
rules = [
    "DOMAIN-MATCH, s.creditcard.ecitic.com, PROXY"
]
