name = "mytest"
author = "herui"
description = "my test pcf"

# 用户配置（Profile）
[PROFILE.guangfa]
name = "guangfa"
defaultRoute = "DIRECT"
proxy = "95508"
rulesets = [
    "95508"
]

# 代理（Proxy）
[PROXY.95508]
type = "HTTP"
host = "10.1.70.162"
port = 8888

# 规则集（Ruleset）
[RULESET.95508]
name = "guangfa rules"
rules = [
    "DOMAIN-MATCH, 8.95508.com, PROXY"
]
